/* shared */
.center{
    text-align: center;
}
.header-content{
    text-align: center;
    background: url(assets/Hero-bg.png);
    height: 450px;
  
}

.button1{
    padding: 10px;
    font: 400;
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration: none;
}
.button2{
    padding: 10px 20px;  
    font: 400;
    color: #0D1321;
    background-color: white;
    text-decoration: none;
    border: solid 1px black;
}
.button3{
    border: none;
    color: black;
    text-decoration: underline;
    background: none;
    font-weight: 700;
    font-size: small;
}

/* why-web */
.why-web{
    margin-top: 100px;
}
.why1-parents{
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px; */
    margin: 100px 200px;
    max-width: 100%;
}
.content{
margin-bottom: 50px;
margin-top: 150px;
}

.item-parents{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    margin: 50px 250px 100px 250px;
    gap: 25px;
}
.items1{
    background-color: #fff6f4;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}
.items2{
    background-color: #f2f6fe;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}
.items3{
    background-color: #fffdf2;
    text-align: left;
    padding: 40px;
    border-radius: 10px;
}
.last-section{
    background: url(assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px 250px;
    margin-bottom: 70px;
    padding: 50px;
    max-width: 100%;
    /* font: 800; */
    font-size: large;
    font: 45px;
    color: #f2f6fe;
    border-radius: 15px;
}
.eemail{
    height: 15px;
    width: 70%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}
.submit{
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    background-color: white;
    font-weight: 700;
    font-size: small; 
}
.img-style{
    height: 34px;
    width: 34px;
}
.icon-style{
    height: 30px;
    width: 30px;
    padding: 5px;
}
.social-icon{
    margin-top: 10px;
}


footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(13, 19, 33, 0.03);
}

