/* shared */
.center{
    text-align: center;
}
.header-content{
    text-align: center;
    background: url(assets/Hero-bg.png);
}

.button1{
    padding: 10px;
    font: 400;
    color: aliceblue;
    background-color: black;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
}
.button2{
    padding: 10px 20px;  
    font: 400;
    color: #0D1321;
    background-color: white;
}

/* why-web */
.why-web{
    margin-top: 100px;
}
.why1-parents{
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px; */
    margin: 100px 200px;
    max-width: 100%;
}
.content{
margin-bottom: 50px;
margin-top: 50px;
}
